* {
  font-family: 'FiraSans';
}
@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url("../fonts/FiraSans-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  background: #fff;
}
body {
  position: relative;
}
menu[type="buttons"] {
  float: right;
}
menu[type="buttons"] button,
menu[type="buttons"] .button {
  width: auto !important;
  display: inline-block !important;
  margin-left: 1em;
}
menu[type="buttons"]:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
}
html,
body {
  overflow: hidden;
}
section.header[role="region"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
section[role="main"] {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.gaia-icon {
  width: 3rem;
  display: inline-block;
}
a.gaia-icon {
  left: -3em;
  color: #666 !important;
}
a.gaia-icon:focus,
a.gaia-icon:active,
a.gaia-icon:visited {
  color: #666 !important;
}
a.gaia-icon.move-item-btn {
  transform: rotate(90deg);
  left: 2rem;
  top: -1rem;
}
.header h1 > input[type="text"] {
  position: relative;
  top: 0.1em;
  text-align: center;
  font-size: 100%;
}
li.checklist-item p {
  white-space: normal;
  line-height: inherit !important;
  position: relative;
}
li.checklist-item,
li.checklist-item > a {
  min-height: 6rem;
  height: auto;
}
li.checklist-item a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
li.checklist-item .pack-checkbox {
  top: -2.4rem;
}
li.checklist-item.edit {
  padding-left: 0;
}
li.checklist-item.edit input[type="text"] {
  position: relative;
  top: 1rem;
  max-width: 70%;
}
