a.gaia-icon.move-item-btn {
  transform: rotate(90deg);
  left: 2rem;
  top: -1rem;
}

.header h1 > input[type="text"] {
  position: relative;
  top: 0.1em;
  text-align: center;
  font-size: 100%;
}
li.checklist-item p {
  white-space: normal;
  line-height: inherit !important;
  position: relative;
}
li.checklist-item,
li.checklist-item > a {
  min-height: 6rem;
  height: auto;
}
li.checklist-item a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
li.checklist-item .pack-checkbox {
  top: -2.4rem;
}
li.checklist-item.edit {
  padding-left: 0;

  input[type="text"] {
    position: relative;
    top: 1rem;
    max-width: 70%;
  }
}