.move-item-btn {
  background: #eee;
  border-radius: 3px;
  color: #000;
  padding: 0.5em;
  margin-right: 1em;
  font-size: 150%;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  text-align: center;
  position: relative;
  top: 0.5em;
}
.remove-item-btn {
  top: -1.2em;
}

.header h1 > input[type="text"] {
  position: relative;
  top: 0.1em;
  text-align: center;
  font-size: 100%;
}
li.checklist-item p {
  white-space: normal;
  line-height: inherit !important;
  position: relative;
}
li.checklist-item,
li.checklist-item > a {
  min-height: 6rem;
  height: auto;
}
li.checklist-item a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
li.checklist-item .pack-checkbox {
  top: -2.4rem;
}