html, body {
  overflow: hidden;
}

section.header[role="region"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

section[role="main"] {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}