menu[type="buttons"] {
  float: right;

  button, .button {
    width: auto !important;
    display: inline-block !important;
    margin-left: 1em;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
}